
$body-width: 940px;
$body-margin: 56px auto 90px auto;

//fonts 
$primary-font-stack: "Museo Sans",helvetica,Arial,sans-serif;
$secondary-font-stack: "Helvetica Neue",helvetica,Arial,sans-serif;

$fs-base: 13px;

$fs-section-heading: 60px;
$fs-section-heading-alt: 36px;

$fs-section-subheading: 23px;
$fs-section-subheading-alt: 15px;

//colors
$fc-base: #5d5953;

$fc-section-heading: #615b50;
$fc-section-heading-alt: #afaba7;

$fc-section-subheading: #565249;
$fc-section-subheading-alt: #4f4d4a;

$bg-base: #f2f0ed;
$bg-base-alt: #f4f4f5;

$highlight: #adc380;

$btn-clr: #8da55b;
$btn-txt-clr: #ffffff;

//components 
$body-bg: #edece8 url(../images/body-bg.jpg) no-repeat;
$btn-bg: url();
$payment-widget-bg: url();
$checkmark: url(../images/checkmark-bg.png);






